.strength{
    font-family: Calibre;
    font-size: 18px;
    position: relative;
    top: -20px;
}
.btn-login:disabled{
    background-color: rgba(74, 74, 97, 0.8);
}

@media screen and (min-width: 1920px){
    .strength{
        font-size: 0.8333333333333334vw;
    }
}
    