
/* 
Generic Styling, for Desktops/Laptops 
*/
.container{
    background: #1A0E1B;
    width: 100vw;
    height: 100vh;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    max-width: 100vw;
}
.container td:nth-child(3n) button {
    color: #666666 ;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    border-radius: 16px;
    background: #F0F0F0;
  }
  tr:nth-of-type(odd) { 
    background: transparent; 
  }
  tr:nth-of-type(even) { 
    background: #FFF; 
  }
  th { 
    background: #814486; 
    color: white; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  th:nth-child(1){
    font-weight: 700;
    border-radius: 16px 0px 0px 0px ;
  }
  th:nth-last-child(1)  {
    border-radius: 0px 16px 0px 0px ;
  }
  td, th { 
    padding: 6px !important; 
    text-align: left;
  }
  td:nth-child(1), th:nth-child(1){
    padding-left: 51px !important;
  }
  .pagination{
    position: fixed;
    bottom: 10px;
  }
  .MuiButtonBase-root {
    color: white !important;
  }

@media 
only screen and (max-width: 850px),
(min-device-width: 768px) and (max-device-width: 850px)  {

    .container{
        height: fit-content;
    }
    table{
        margin-bottom: 100px;
    }
    .MuiButtonBase-root {
        color: #814486 !important;
      }
      .css-1mtig89-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
        color: white !important;
      }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	tr:nth-child(1){ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 2px solid #1A0E1B;}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 60% !important; 
	}
    td:nth-child(1), th:nth-child(1){
        padding-left: 60% !important;
      }
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px !important; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.container td:nth-of-type(1):before { content: "Date and Time request"; color: #814486;}
	.container td:nth-of-type(2):before { content: "Room No."; COLOR: #814486;}
	.container td:nth-of-type(3):before { content: "Service Type"; COLOR: #814486;}
	.container td:nth-of-type(4):before { content: "Time of service"; COLOR: #814486;}
	.container td:nth-of-type(5):before { content: "Comments"; COLOR: #814486;}
	.container td:nth-of-type(6):before { content: "Completed Time"; COLOR: #814486;}
    .container td:nth-of-type(7):before { content: "Hotel Comments"; COLOR: #814486;}
    
    
}