.codeexpired , .codeworking{
  font-family: Calibre-Light;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #94949b;
}
.resendcode{
  margin-left: 10px;
  background: transparent;
  font-family: Calibre;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e3a;
  text-decoration: underline;
}
.resendcode:hover{
  cursor: pointer;
  color:#525266;
}
@media screen and (min-width: 1920px){
    .codeexpired , .codeworking{
        font-size: 1.1458333333333333vw;
    }
}