.Wrapper-table{
    justify-content: start;
    padding: 0px 20px;
}
table, th, td {
    border-collapse: collapse;
}
.table{
    width:100%;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #E6E6E6;
}
td , td button{
    color: #666666;
    background: transparent;
    border: none;
    padding: 0px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
th:nth-child(3n) button,td:nth-child(3n) button{
    text-align: right;
    padding-right: 12px;
}
th:nth-child(3n+2),td:nth-child(3n+2) button,th:nth-child(3n+1),td:nth-child(3n+1) button{
    padding-left: 24px;
}
td:nth-child(3n) button{
    color: #D5A62C;
}
.completed, .completed button{
    color: #589F53 !important;
}
.table-button{
    width: 100%;
}
.table-drawer{
    min-height: 531px;
}
.table-drawer2{
    min-height: 531px;
}
.table-drawer__content{
    text-align: left;
    min-height: 531px;
    display: flex;
    justify-content: center;
    align-items: start !important;
    flex-direction: column;
    padding-left: 32px !important;
    font-size: 16px;
}
.table-drawer2__content{
    text-align: left;
    min-height: 531px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
    padding-left: 32px !important;
    font-size: 16px;
}
.closex{
    position: absolute;
    left: 86vw;
    top: 16px;
}

.error-drawer{
    min-height: 531px;
}
.error-drawer__content{
    text-align: left;
    min-height: 531px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
    font-size: 16px;
    padding: 0px !important;
}
.btn-lined:disabled{
    opacity: 0.5 !important;
}
@media 
only screen and (max-width: 850px),
(min-device-width: 768px) and (max-device-width: 850px)  {
    .Wrapper td:nth-of-type(1):before { content: "Date"; color: #814486;}
    .Wrapper td:nth-of-type(2):before { content: "Request"; COLOR: #814486;}
    .Wrapper td:nth-of-type(3):before { content: "Status"; COLOR: #814486;}
    .table table{
        background-color: transparent;
    }
    .Wrapper tr {
        border: 2px solid #814486;
        margin: 0px 0px 10px 0px;
    }
    .Wrapper .table {
        width: 80% !important;
    }
    
    .Wrapper td:nth-child(1), .Wrapper th:nth-child(1) {
        padding-left: 30% !important;
    }
    .Wrapper td{
        padding-left: 30% !important;
    }
    .Wrapper td button{
        padding-left: 0px !important;
    }
}