@media screen and (max-width: 1300px) {
    .bg img{
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        margin: auto;
        margin-top: 2vw;
    }
}
@media screen and (max-width: 600px) {
    .bg img{
        width: 70vw;
        min-width: 350px;
    }
}