.Wrapper2 {
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    left: -31.25vw;
}

.wifi {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    height: 100px;
}

.wifi .signal {
    -webkit-filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
    border: 10px solid transparent;
    border-top: 10px solid #ffffff;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    /* -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: jump 0.5s 0.4s forwards cubic-bezier(0.64, 3.02, 0.54, 0.26);
          animation: jump 0.5s 0.4s forwards cubic-bezier(0.64, 3.02, 0.54, 0.26); */
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
    /*fadeIn 1s linear 3s 1 normal forwards; */
    opacity: 0;
    left: 0;
    margin-left: -10px;
}

.wifi .signal:after {
    content: "";
    height: 10px;
    top: -10px;
    left: -7px;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    background: #ffffff;
}

.wifi .signal:before {
    content: "";
    height: 10px;
    top: -10px;
    right: -7px;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    background: #ffffff;
}

.wifi .signal-4 {
    -webkit-animation-delay: .5;
    animation-delay: .5;
    margin-left: -25px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
}

.wifi .signal-4:after {
    top: -5px;
    left: -3px;
}

.wifi .signal-4:before {
    top: -5px;
    right: -3px;
}

.wifi .signal-3 {
    margin-left: -40px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}

.wifi .signal-3:after {
    top: 0px;
    left: 1px;
}

.wifi .signal-3:before {
    top: 0px;
    right: 1px;
}

.wifi .signal-2 {
    margin-left: -55px;
    bottom: 5px;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.wifi .signal-2:after {
    top: 5px;
    left: 4px;
}

.wifi .signal-2:before {
    top: 5px;
    right: 4px;
}

.wifi .signal-1 {
    margin-left: -70px;
    bottom: 0;
    width: 140px;
    height: 140px;
    animation-delay: 4s;
}

.wifi .signal-1:after {
    top: 10px;
    left: 8px;
}

.wifi .signal-1:before {
    top: 10px;
    right: 8px;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.82;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.82;
    }
}
@media screen and (max-width: 1300px) {
    .Wrapper2{
        width: 100vw;
        position: relative;
        top:40px;
        left: 0px;
        margin: auto;
        
    }
}
@media screen and (min-width: 1920px) {
    .Wrapper2 {
        /* background: #252525; */
        margin: 0;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: absolute;
        top: 15.625vw;
        left: -31.25vw;
    }
    .wifi {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        height: 5.208333333333334vw;
    }
    .wifi .signal {
        -webkit-filter: drop-shadow(0 0 0.20833333333333334vw rgba(255, 255, 255, 0.5));
        filter: drop-shadow(0 0 0.20833333333333334vw rgba(255, 255, 255, 0.5));
        border: 0.5208333333333333vw solid transparent;
        border-top: 0.5208333333333333vw solid #ffffff;
        height: 0.5208333333333333vw;
        width: 0.5208333333333333vw;
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        -webkit-animation: fadeIn 1s forwards;
        animation: fadeIn 1s forwards;
        opacity: 0;
        left: 0;
        margin-left: -0.5208333333333333vw;
    }
    .wifi .signal:after {
        content: "";
        height: 0.5208333333333333vw;
        top: -0.5208333333333333vw;
        left: -0.3645833333333333vw;
        position: absolute;
        border-radius: 50%;
        width: 0.5208333333333333vw;
        background: #ffffff;
    }
    .wifi .signal:before {
        content: "";
        height: 0.5208333333333333vw;
        top: -0.5208333333333333vw;
        right: -0.3645833333333333vw;
        position: absolute;
        border-radius: 50%;
        width: 0.5208333333333333vw;
        background: #ffffff;
    }
    .wifi .signal-4 {
        -webkit-animation-delay: .5;
        animation-delay: .5;
        margin-left: -1.3020833333333335vw;
        bottom: 0.78125vw;
        width: 2.604166666666667vw;
        height: 2.604166666666667vw;
        animation-delay: 1s;
    }
    .wifi .signal-4:after {
        top: -0.26041666666666663vw;
        left: -0.15625vw;
    }
    .wifi .signal-4:before {
        top: -0.26041666666666663vw;
        right: -0.15625vw;
    }
    .wifi .signal-3 {
        margin-left: -2.083333333333333vw;
        bottom: 0.5208333333333333vw;
        width: 4.166666666666666vw;
        height: 4.166666666666666vw;
        animation-delay: 2s;
    }
    .wifi .signal-3:after {
        top: 0vw;
        left: 0.052083333333333336vw;
    }
    .wifi .signal-3:before {
        top: 0vw;
        right: 0.052083333333333336vw;
    }
    .wifi .signal-2 {
        margin-left: -2.864583333333333vw;
        bottom: 0.26041666666666663vw;
        width: 5.729166666666666vw;
        height: 5.729166666666666vw;
        animation-delay: 3s;
    }
    .wifi .signal-2:after {
        top: 0.26041666666666663vw;
        left: 0.20833333333333334vw;
    }
    .wifi .signal-2:before {
        top: 0.26041666666666663vw;
        right: 0.20833333333333334vw;
    }
    .wifi .signal-1 {
        margin-left: -3.6458333333333335vw;
        bottom: 0;
        width: 7.291666666666667vw;
        height: 7.291666666666667vw;
        animation-delay: 4s;
    }
    .wifi .signal-1:after {
        top: 0.5208333333333333vw;
        left: 0.4166666666666667vw;
    }
    .wifi .signal-1:before {
        top: 0.5208333333333333vw;
        right: 0.4166666666666667vw;
    }
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 0.82;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 0.82;
        }
    }
}