@import url(//db.onlinewebfonts.com/c/54ad1a311e37ed132bf54f7dbcc1d7a1?family=Copyright+Klim+Type+Foundry);

@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo-Regular.ttf") format("opentype");
}
@font-face {
  font-family: DM Sans;
  src: url("../fonts/DMSans-Regular.ttf") format("opentype");
}

button:hover{
  cursor: pointer;
}

.welcome{
  font-family: Cairo;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin: 32px 0px;
  color: #666666;
}

.Wrapper{
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
